<!-- Header -->
<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <img class="img-fluid mb-5 d-block mx-auto" src="<%= asset_pack_path("images/ruby-logo.png") %>" alt="ruby">
    <h1 class="text-uppercase mb-0">Cleveland Ruby Brigade</h1>
    <hr class="star-light">
    <h2 class="font-weight-light mb-0">Rubyists of Cleveland, Ohio</h2>
  </div>
</header>

<!-- Events Section -->
<section id="portfolio">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Events</h2>
    <hr class="star-dark mb-5">
    
    <%= render partial: 'events/list', locals: { events: @latest_events } %>
  </div>
</section>

<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">About</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-8 ml-auto mr-auto">
        <p class="lead">
          Cleveland Ruby Brigade is an organization of rubyists in Cleveland, Ohio. Join our <a href="https://www.meetup.com/ClevelandRuby/" class="home-description-link" target="_blank">Meetup group</a> to connect with us and find out about upcoming events.
        </p>
      </div>
    </div>
  </div>
</section>
