<!-- Companies Section -->
<section id="companies">
  <div class="container">
    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Companies In Cleveland Which Use Ruby</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <% @companies.each do |company| %>
            <div class="col-md-6 col-lg-4 portfolio-container">
              <%= link_to company[:url], target: "_blank", class: "portfolio-item d-block mx-auto" do %>
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fa fa-arrow-circle-o-right fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="<%= asset_pack_path(company[:image]) %>" alt="<%= company[:name] %>">
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</section>
